.hand-card {
  margin-left: -50px;

}

/* per centrare, annullando il margine negativo alla prima */
.hand-card:first-child {
  margin-left: 0;
}

.hand-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: center;
}